<h1>Create a book</h1>

<%= form_for @book  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :auther %>
  <%= f.text_field :auther %><br>
  <%= f.label :rating %>
  <%= f.text_field :rateing %>
  <br />

  <%= f.submit %>
<% end %>