<h1><%=@book.title %></h1>
<h3> by <%= @book.auther %></h3>
<% @book.reviews.each do |review| %>
    <%= review.description %>
    <br />
<% end %>

<%= button_to "All books", books_path, :method => :get %>
<%= button_to "Add review", new_book_review_path(@book) %>
<%= button_to "delete book", book_path(@book), :method => :delete %>

<h2> reviewed users </h2>
<% @book.reviewed_users.each do |reviewed_user| %>
    <%= reviewed_user.name %>
    <br />
<% end %>