<h1>Create a review</h1>

<%= form_for @review  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :description %>

  <%= f.hidden_field :book_id, :value => @book.id %>
  <br />

  <%= f.submit %>
<% end %>